<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'zerowaste/login.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <body>
        {% if form.errors  %}
        <p>ユーザーID, パスワードが一致しません．</p>
        {% endif %}
        <form method="POST" action="">
          <div class="title">
            <p class="py-3">Zerowaste</p>
          </div>
          {% csrf_token %}
          <label>ユーザーID</label>
          {{ form.username}}
          {{ form.username.errors }}
          <label>パスワード</label>
          {{ form.password}}
          {{ form.password.errors }}
          <button type="submit" class="fadein fourth">ログイン</button>
        </form>
    </body>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a href="{% url 'zerowaste:create_account' %}" class="underlineHover">新規会員登録はこちら</a>
      <a class="underlineHover" href="/password_reset">パスワードを忘れた方はこちら</a>
    </div>

  </div>
</div>