{% extends "zerowaste/post_list.html" %}

{% block contents %} 

{% load crispy_forms_tags %}          

<!--Reset Password-->
<div class="container p-5">
       <h2 class="font-weight-bold mt-3">パスワード変更</h2>
    <hr>
    <p>パスワードを忘れましたか？ 下記にあなたのメールアドレスを入力してください。パスワードを変更するための手続きをいたします。</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}                    
        <button class="fadein fourth m-4" type="submit">メール送信</button>
    </form>
  </div> 

{% endblock %}